@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    width: 1440px;
    font-family: 'Roboto', sans-serif;
    background-color: hsl(185, 75%, 39%);
}

.container {
    width: 350px;
    height: 360px;
    margin: 180px auto ;
    background-color: white;
    text-align: center;
    border-radius: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin: 0 auto;
}

h5 {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin: 0;
}

h6 {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.inline{
    padding-inline-start: 0;
    margin-bottom: 0;
}

.inline li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

.age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}